In [10]:
import pandas as pd 
import numpy as np
from scipy.stats import f_oneway

In [3]:
female = pd.read_csv("C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/unemployeed_female.csv")
male = pd.read_csv("C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/unemployeed_male.csv")

In [5]:
female

,Năm,Tổng số,Đồng bằng sông Hồng,Trung du và miền núi phía Bắc,Bắc Trung Bộ và duyên hải miền Trung,Tây Nguyên,Đông Nam Bộ,Đồng bằng sông Cửu Long
0,2018,2.45,1.91,1.20,3.08,1.63,2.59,3.59
1,2019,2.26,1.67,0.96,2.46,1.47,2.46,4.03
2,2020,3.05,2.27,1.17,3.77,2.27,4.04,4.03
3,2021,3.26,1.91,2.12,3.41,1.26,4.84,4.68
4,2022,2.32,1.79,1.76,2.94,0.85,2.62,3.02
5,2023,2.25,1.60,1.77,2.55,0.85,2.81,3.08

In [7]:
male

,Năm,Cả nước,Đồng bằng sông Hồng,Trung du và miền núi phía Bắc,Bắc Trung Bộ và duyên hải miền Trung,Tây Nguyên,Đông Nam Bộ,Đồng bằng sông Cửu Long
0,2018,1.97,2.02,0.92,2.37,0.56,2.66,2.05
1,2019,2.09,1.96,1.58,2.48,1.28,2.44,2.09
2,2020,2.01,1.85,0.96,2.65,1.14,2.56,1.98
3,2021,3.15,2.41,2.67,3.21,0.71,4.52,3.63
4,2022,2.36,2.05,2.39,2.31,0.51,3.09,2.59
5,2023,2.30,2.09,2.03,2.23,0.56,3.00,2.63

## Đồng bắng sông Hồng

In [12]:
dbsh = pd.DataFrame({
    "female": female["Đồng bằng sông Hồng"], 
    "male": male["Đồng bằng sông Hồng"]
})

In [18]:
dbsh.describe()

         female      male
count  6.000000  6.000000
mean   1.858333  2.063333
std    0.237353  0.189279
min    1.600000  1.850000
25%    1.700000  1.975000
50%    1.850000  2.035000
75%    1.910000  2.080000
max    2.270000  2.410000

In [14]:
f_stat, p_value = f_oneway(dbsh["female"], dbsh["male"])

In [16]:
print(f"F-statistic: {f_stat:.2f}")
print(f"P-value: {p_value:.4f}")

F-statistic: 2.74
P-value: 0.1291

In [20]:
if p_value < 0.05:
    print("Bác bỏ H0. Có sự khác biệt ý nghĩa giữa các nhóm.")
else:
    print("Không bác bỏ H0. Không có sự khác biệt ý nghĩa giữa các nhóm.")

Không bác bỏ H0. Không có sự khác biệt ý nghĩa giữa các nhóm.

## Bắc Trung Bộ và duyên hải miền Trung

In [23]:
btbdhmt = pd.DataFrame({
    "female": female["Bắc Trung Bộ và duyên hải miền Trung"], 
    "male": male["Bắc Trung Bộ và duyên hải miền Trung"]
})

In [25]:
btbdhmt.describe()

         female      male
count  6.000000  6.000000
mean   3.035000  2.541667
std    0.501548  0.358464
min    2.460000  2.230000
25%    2.647500  2.325000
50%    3.010000  2.425000
75%    3.327500  2.607500
max    3.770000  3.210000

In [27]:
f_stat, p_value = f_oneway(btbdhmt["female"], btbdhmt["male"])

In [29]:
print(f"F-statistic: {f_stat:.2f}")
print(f"P-value: {p_value:.4f}")

F-statistic: 3.84
P-value: 0.0784

In [33]:
if p_value < 0.05:
    print("Bác bỏ H0. Có sự khác biệt ý nghĩa giữa các nhóm.")
else:
    print("Không bác bỏ H0. Không có sự khác biệt ý nghĩa giữa các nhóm.")

Không bác bỏ H0. Không có sự khác biệt ý nghĩa giữa các nhóm.

## Đông Nam Bộ

In [36]:
dnb = pd.DataFrame({
    "female": female["Đông Nam Bộ"], 
    "male": male["Đông Nam Bộ"]
})

In [38]:
dnb.describe()

         female      male
count  6.000000  6.000000
mean   3.226667  3.045000
std    0.979707  0.765395
min    2.460000  2.440000
25%    2.597500  2.585000
50%    2.715000  2.830000
75%    3.732500  3.067500
max    4.840000  4.520000

In [40]:
f_stat, p_value = f_oneway(dnb["female"], dnb["male"])

In [42]:
print(f"F-statistic: {f_stat:.2f}")
print(f"P-value: {p_value:.4f}")

F-statistic: 0.13
P-value: 0.7278

In [44]:
if p_value < 0.05:
    print("Bác bỏ H0. Có sự khác biệt ý nghĩa giữa các nhóm.")
else:
    print("Không bác bỏ H0. Không có sự khác biệt ý nghĩa giữa các nhóm.")

Không bác bỏ H0. Không có sự khác biệt ý nghĩa giữa các nhóm.