# Arrays

In [1]:
import pandas as pd

In [2]:
table_description = pd.DataFrame(
    {
        "Parameter": [
            "b",
            "B",
            "c",
            "u",
            "h",
            "H",
            "i",
            "I",
            "w",
            "l",
            "L",
            "f",
            "d",
        ],
        "Details": [
            "Represents signed integer of sizes 1 byte",
            "Represents unsigned integer of size 1 byte",
            "Represents character of size 1 byte",
            "Represents unicode character of size 2 bytes",
            "Represents signed integer of size 2 bytes",
            "Represents unsigned integer of size 2 bytes",
            "Represents signed integer of size 2 bytes",
            "Represents unsigned integer of size 2 bytes",
            "Represents unicode character of size 4 bytes",
            "Represents signed integer of size 4 bytes",
            "Represents unsigned integer of size 4 bytes",
            "Represents floating point of size 4 bytes",
            "Represents floating point of size 8 bytes", 
        ],
    }
)

In [3]:
table_description

   Parameter                                       Details
0          b     Represents signed integer of sizes 1 byte
1          B    Represents unsigned integer of size 1 byte
2          c           Represents character of size 1 byte
3          u  Represents unicode character of size 2 bytes
4          h     Represents signed integer of size 2 bytes
5          H   Represents unsigned integer of size 2 bytes
6          i     Represents signed integer of size 2 bytes
7          I   Represents unsigned integer of size 2 bytes
8          w  Represents unicode character of size 4 bytes
9          l     Represents signed integer of size 4 bytes
10         L   Represents unsigned integer of size 4 bytes
11         f     Represents floating point of size 4 bytes
12         d     Represents floating point of size 8 bytes

"Arrays" in Python are not the arrays in conventional programming languages like C and Java, but closer to lists. A
list can be a collection of either homogeneous or heterogeneous elements, and may contain ints, strings or other
lists.

## 1) Access individual elements through indexes. 
Individual elements can be accessed through indexes. Python arrays are zero-indexed. Here is an example:

In [5]:
from array import *

In [6]:
my_array = array('i', [1,2,3,4])

In [7]:
print(my_array[1])

2

In [8]:
print(my_array[0])

1

In [9]:
print(my_array[10])

IndexError: array index out of range

## 2) Basic Introduction to Arrays 
An array is a data structure that stores values of same data type. In Python, this is the main difference between
arrays and lists.

While python lists can contain values corresponding to different data types, arrays in python can only contain
values corresponding to same data type. In this tutorial, we will understand the Python arrays with few examples.

If you are new to Python, get started with the Python Introduction article.

To use arrays in python language, you need to import the standard array module. This is because array is not a
fundamental data type like strings, integer etc. Here is how you can import array module in python :

In [10]:
from array import *

Once you have imported the array module, you can declare an array. Here is how you do it:

#### arrayIdentifierName = array(typecode, [Initializers])

In the declaration above, arrayIdentifierName is the name of array, typecode lets python know the type of array
and Initializers are the values with which array is initialized.

Typecodes are the codes that are used to define the type of array values or the type of array. The table in the
parameters section shows the possible values you can use when declaring an array and it's type.


Here is a real world example of python array declaration :

In [11]:
my_array = array("i", [1, 2, 3, 4])

In the example above, typecode used is i. This typecode represents signed integer whose size is 2 bytes.

Here is a simple example of an array containing 5 integers

In [12]:
for i in my_array: 
    print(i)

1
2
3
4

## 3) Append any value to the array using append() method

In [13]:
my_array = array('i', [1,2,3,4,5,6,7,8,9,10,11])

In [14]:
my_array.append(12)

In [15]:
print(my_array)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

## 4) Insert value in an array using insert() method.

We can use the insert() method to insert a value at any index of the array. Here is an example :

In [16]:
my_array = array("i", [1, 2, 3, 4, 5])

In [17]:
my_array.insert(0,0)

In [18]:
print(my_array)

array('i', [0, 1, 2, 3, 4, 5])

In [19]:
my_array.insert(0,3)

In [20]:
print(my_array)

array('i', [3, 0, 1, 2, 3, 4, 5])

## 5) Extend python array using extend() method.

A python array can be extended with more than one value using extend() method. Here is an example :

In [21]:
my_array = array('i', [1,2,3,4,5])

In [22]:
my_extnd_array = array('i', [7,8,9,10])

In [23]:
my_array.extend(my_extnd_array)

In [24]:
print(my_array)

array('i', [1, 2, 3, 4, 5, 7, 8, 9, 10])

We see that the array my_array was extended with values from my_extnd_array

## 6) Add items from list into array using fromlist() method. 
Here is an example:

In [25]:
c = [11, 12, 13]

In [26]:
my_array.fromlist(c)

So we see that the values 11,12 and 13 were added from list c to my_array.

## 7) Remove any array element using remove() method.

here is an example:

In [27]:
my_array = array("i", [1, 2, 3, 4, 5])
my_array.remove(4)

In [28]:
print(my_array)

array('i', [1, 2, 3, 5])

## 8) Remove last array element using pop() method.

pop removes the last element from the array. Here is an example:

In [29]:
my_array.pop()

5

In [30]:
print(my_array)

array('i', [1, 2, 3])

## 9) Fetch any element through its index using index() method

index() returns first index of the matching value. Remember that arrays are zero-indexed.

In [31]:
my_array = array("i", [1, 2, 3, 4, 5])
print(my_array.index(5))

4

In [32]:
print(my_array.index(3))

2

## 10) Reverse a python array using reverse() method

The reverse() method does what the name says it will do - reverses the array. Here is an example :

In [33]:
my_array = array("i", [1, 2, 3, 4, 5])
my_array.reverse()

In [34]:
print(my_array)

array('i', [5, 4, 3, 2, 1])

## 11) Get array buî€£er information through buffer_info() method

This method provides you the array buffer start address in memory and number of elements in array. Here is an
example:

In [35]:
my_array = array("i", [1, 2, 3, 4, 5])
my_array.buffer_info()

(2384951123088, 5)

## 12) Check for number of occurrences of an element using count() method

count() will return the number of times and element appears in an array. In the following example we see that the
value 3 occurs twice.

In [36]:
my_array = array("i", [1, 2, 3, 3, 5])
my_array.count(3)

2

## 13) Convert array to string using tostring() method

tostring() converts the array to a string.

In [39]:
my_char_array = array('u', ["g", "e", "e", "k"])

In [40]:
print(my_char_array)

array('u', 'geek')

## 14) Convert array to a python list with same elements using tolist() method

When you need a Python list object, you can utilize the tolist() method to convert your array to a list.

In [44]:
my_array = array("i", [1, 2, 3, 4, 5])
c = my_array.tolist()

In [45]:
print(c)

[1, 2, 3, 4, 5]

In [47]:
print(type(c))

<class 'list'>

## 15) Append a string to char array using fromstring() method

You are able to append a string to a character array using fromstring().

In [53]:
my_char_array = array('u', ['g', 'e', 'e', 'k'])
my_char_array.fromstring("stuff")
print(my_char_array)

AttributeError: 'array.array' object has no attribute 'fromstring'