# Date Formatting 
## 1) Time between two date-times

In [23]:
from datetime import datetime

In [24]:
a = datetime(2016, 10, 6, 0,0,0) 
b = datetime(2016, 10, 1, 23, 59, 00)

In [25]:
print(a)

2016-10-06 00:00:00

In [26]:
print(b)

2016-10-01 23:59:00

In [27]:
a-b

datetime.timedelta(days=4, seconds=60)

In [28]:
(a-b).days

4

In [29]:
(a-b).total_seconds

## 2) Outputting datetime object to string

In [30]:
datetime_for_string = datetime(2016,10,1,0,0)

In [31]:
datetime_string_format = '%b %d %Y, %H:%M:%S'

In [33]:
datetime.strftime(datetime_for_string,datetime_string_format)

'Oct 01 2016, 00:00:00'

## 3) Parsing string to datetime object

In [34]:
datetime_string = "Oct 1 2016, 00:00:00"

In [35]:
datetime_string_format = "%b %d %Y, %H:%M:%S"

In [36]:
datetime.strptime(datetime_string, datetime_string_format)

datetime.datetime(2016, 10, 1, 0, 0)

## 4) More Example:

Example1:

In [38]:
x = datetime(2020,10,12,12,34,45) 
y = datetime(2021, 11, 1, 23, 12, 13)

In [39]:
print(x)

2020-10-12 12:34:45

In [40]:
print(y)

2021-11-01 23:12:13

In [41]:
(y-x)

datetime.timedelta(days=385, seconds=38248)

In [42]:
(y-x).total_seconds

In [43]:
(y-x).total_seconds()

33302248.0

In [44]:
(y-x).days

385

Example2:

In [45]:
date_for_string = datetime(2023,12,10,10,9,8)
datetime_string_format = '%b %d %Y, %H: %M: %S'
datetime.strftime(date_for_string,datetime_string_format)

'Dec 10 2023, 10: 09: 08'

In [47]:
date_string = 'Dec 10 2023, 23:14:57' 
datetime_string_format = '%b %d %Y, %H:%M:%S' 
datetime.strptime(date_string, datetime_string_format)

datetime.datetime(2023, 12, 10, 23, 14, 57)