# List

The Python List is a general data structure widely used in Python programs. They are found in other languages,
often referred to as dynamic arrays. They are both mutable and a sequence data type that allows them to be indexed
and sliced. The list can contain different types of objects, including other list objects.

## 1) List methods and supported operators

Starting with a given list a:

In [1]:
a = [1,2,3,4,5]

### 1.1) append(value) - appends a new element to the end of the list

Append values 6, 7, and 7 to the list

In [2]:
a.append(6)
a.append(7)
a.append(7)

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 7]

Append another list

In [4]:
b = [8, 9]

In [5]:
a.append(b)

 Append an element of a different type, as list elements do not need to have the same type

In [6]:
my_string = "hello world"

In [7]:
a.append(my_string)

In [8]:
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'hello world']

Note that the append() method only appends one new element to the end of the list. If you append a list to
another list, the list that you append becomes a single element at the end of the first list.

Appending a list to another list

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9]
a.append(b)

In [10]:
a[1000]

IndexError: list index out of range

In [ ]:
a[10]

IndexError: list index out of range

In [ ]:
a[8]

[8, 9]

In [ ]:
a[8][0]

8

### 1.2) extend(enumerable) - extends the list by appending elements from another enumerable.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]

In [ ]:
a.extend(b)

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
a.extend(range(3))

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

Lists can also be concatenated with the + operator. Note that this does not modify any of the original lists:

In [ ]:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b

### 1.3) index(value, [startIndex]) - gets the index of the first occurrence of the input value. If the input value is not in the list a `ValueError` exception is raised. If a second argument is provided , the search is started at the specified index.

In [ ]:
a.index(7)

6

In [ ]:
a.index(49)

ValueError: 49 is not in list

In [ ]:
a.index(7, 7)

7

In [ ]:
a.index(7, 8)

ValueError: 7 is not in list

because there is no 7 starting at index 8

### 1.4) insert (index, value) - insert value just before the specified index. Thus after the insertion the new element occupies position index.

In [ ]:
a.insert(0, 0)

In [ ]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [ ]:
a.insert(2,5)

In [ ]:
a

[0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

### 1.5) pop([index]) - removes and returns the item at index. With no argument it removes and the returns the last elements of the list.

In [ ]:
a.pop(2)

5

In [ ]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a.pop(8)

7

In [ ]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a.pop()

10

### 1.6) remove(value) - removes the first occurence of the specified value. If the provided value cannot be found, a valueerror is raised.

In [ ]:
a.remove(0)

ValueError: list.remove(x): x not in list

In [ ]:
a.remove(1)

In [ ]:
a

[2, 3, 4, 5, 6, 7, 7, [8, 9]]

### 1.7) reverse() - reverses the list in-place and returns None.

In [ ]:
a.reverse()

In [ ]:
a

[[8, 9], 7, 7, 6, 5, 4, 3, 2]

There are also other ways of reversing a list.

### 1.8) count(value) - counts the number of occurrences of some value in the list

In [ ]:
a.count(7)

2

### 1.9) Sort() - sorts the list in numerical and lexicographical order and returns None

In [ ]:
a.sort()

TypeError: '<' not supported between instances of 'int' and 'list'

In [ ]:
b = [1,2,3,4,5,6,12,1,2,12,3,12,3,12,3]

In [ ]:
b.sort()

In [ ]:
b

[1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 12, 12, 12, 12]

If you want to sort by attributes of items, you can use the key keyword argument:

In [ ]:
import datetime


class Person(object):
    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height

    def __repr__(self):
        return self.name


l = [
    Person("John Cena", datetime.date(1992, 9, 12), 175),
    Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
    Person("Jon Skeet", datetime.date(1991, 7, 6), 185),
]

In [ ]:
l.sort(key=lambda item: item.name)

In [ ]:
print(l)

[Chuck Norris, John Cena, Jon Skeet]

In [ ]:
l.sort(key=lambda item: item.birthday)

In [ ]:
print(l)

[Chuck Norris, Jon Skeet, John Cena]

In [ ]:
l.sort(key=lambda item: item.height)

In [ ]:
print(l)

[John Cena, Chuck Norris, Jon Skeet]

In case of list of dicts the concept is the same:

In [ ]:
import datetime 

l = [
    {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175, },
    {'name' : 'Chuck Norris', 'birthday' : datetime.date(1999, 8, 28), 'height': 180}, 
    {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}   
]

In [ ]:
l.sort(key = lambda item: item['name'])

In [ ]:
print(l)

[{'name': 'Chuck Norris', 'birthday': datetime.date(1999, 8, 28), 'height': 180}, {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [ ]:
l.sort(key=lambda item: item["birthday"])

In [ ]:
print(l)

[{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}, {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}, {'name': 'Chuck Norris', 'birthday': datetime.date(1999, 8, 28), 'height': 180}]

In [ ]:
l.sort(key=lambda item: item["height"])

In [ ]:
print(l)

[{'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}, {'name': 'Chuck Norris', 'birthday': datetime.date(1999, 8, 28), 'height': 180}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

Sort by sub dict:

In [ ]:
l = [
    {
        "name": "John Cena",
        "birthday": datetime.date(1992, 9, 12),
        "size": {"height": 175, "weight": 100},
    },
    {
        "name": "Chuck Norris",
        "birthday": datetime.date(1990, 8, 28),
        "size": {"height": 180, "weight": 90},
    },
    {
        "name": "Jon Skeet",
        "birthday": datetime.date(1991, 7, 6),
        "size": {"height": 185, "weight": 110},
    },
]
l.sort(key=lambda item: item["size"]["height"])

In [ ]:
print(l)

[{'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'size': {'height': 175, 'weight': 100}}, {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'size': {'height': 180, 'weight': 90}}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185, 'weight': 110}}]

##### Better way to sort using attrgetter and itemgetter

Lists can also be sorted using attrgetter and itemgetter functions from the operator module. These can help
improve readability and reusability. Here are some examples,

In [ ]:
from operator import itemgetter, attrgetter

people = [
    {"name": "chandan", "age": 20, "salary": 2000},
    {"name": "chetan", "age": 18, "salary": 5000},
    {"name": "guru", "age": 30, "salary": 3000},
]

In [ ]:
by_age = itemgetter('age')

In [ ]:
people.sort(key = by_age)

In [ ]:
by_salary = itemgetter('salary')

In [ ]:
people.sort(key = by_salary)

itemgetter can also be given an index. This is helpful if you want to sort based on indices of a tuple.

In [ ]:
list_of_tuples = [(1,2), (3,4), (5,6)]

In [ ]:
list_of_tuples.sort(key = itemgetter(1))

In [ ]:
print(list_of_tuples)

[(1, 2), (3, 4), (5, 6)]

Use the attrgetter if you want to sort by attributes of an object.

In [ ]:
persons = [
    Person("John Cena", datetime.date(1992, 9, 12), 175),
    Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
    Person("Jon Skeet", datetime.date(1991, 7, 6), 185),
]

In [ ]:
persons.sort(key = attrgetter('name'))

In [ ]:
print(persons)

[Chuck Norris, John Cena, Jon Skeet]

In [ ]:
by_birthday = attrgetter('birthday')

In [ ]:
persons.sort(key = by_birthday)

In [ ]:
print(persons)

[Chuck Norris, Jon Skeet, John Cena]

### 1.10) clear() - removes all items from the list

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 7]

In [ ]:
a.clear()

### 1.11) Replication - multiplying an existing list by an integer will produce a larger list consisting of that many copies of the orginal. This can be useful for example for list initialization:

In [ ]:
b = ["blah"]*3

In [ ]:
print(b)

['blah', 'blah', 'blah']

In [ ]:
b = [1,3,5]*5

In [ ]:
print(b)

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

Take care doing this if your list contains references to objects (eg a list of lists)

### 1.12) Element deletion - It is possible to delete multiple elements in the list using the del keyword àn slice notation:

In [ ]:
a = list(range(10))

In [ ]:
del a[::2]

In [ ]:
print(a)

[1, 3, 5, 7, 9]

In [ ]:
del a[-1]

In [ ]:
print(a)

[1, 3, 5, 7]

In [ ]:
del a[:]

### 1.13) Copying

The default assignment "=" assigns a reference of the original list to the new name. That is, the original name
and new name are both pointing to the same list object. Changes made through any of them will be reflected
in another. This is often not what you intended.

In [ ]:
a = [1,2,3,4,5]

In [ ]:
b = a

In [ ]:
b.append(6)

If you want to create a copy of the list you have below options

You can slice it:

In [ ]:
old_list = [1,2,3,4,5]

In [ ]:
new_list = old_list[:]

In [ ]:
print(new_list)

[1, 2, 3, 4, 5]

You can use the built in list function:

In [ ]:
new_list = list(old_list)

You can use generic copy.copy():

In [ ]:
import copy

In [ ]:
new_list = copy.copy(old_list)

In [ ]:
print(new_list)

[1, 2, 3, 4, 5]

This is a little slower than list() because it has to find out the datatype of old_list first.

If the list contains objects and you want to copy them as well, use generic copy.deepcopy():

In [ ]:
new_list = copy.deepcopy(old_list)

Obviously the slowest and most memory-needing method, but sometims unavoidable.

`copy()`- Returns a shallow copy of the list

In [ ]:
aa = a.copy()

In [ ]:
print(aa)

[1, 2, 3, 4, 5, 6]

## 2) Accessing list values

Python list are zero-indexed, and act like arrays in other languages.

In [ ]:
lst = [1,2,3,4]

In [ ]:
lst[0]

1

In [ ]:
lst[1]

2

Attempting to access an index outside the bounds of the list will raise an `IndexError`.

In [ ]:
lst[4]

IndexError: list index out of range

Negative indices are interpreted as counting from the end of the list.

In [ ]:
lst[-1]

4

In [ ]:
lst[-2]

3

In [ ]:
lst[-3]

2

This is functionally equivalent to

In [ ]:
lst[len(lst) - 1]

4

Lists allow to use slice notation as lst[start:end:step]. The output of the slice notation is a new list containing
elements from index start to end-1. If options are omitted start defaults to beginning of list, end to end of list and
step to 1:

In [ ]:
lst[1:]

[2, 3, 4]

In [ ]:
lst[:3]

[1, 2, 3]

In [ ]:
lst[::2]

[1, 3]

In [ ]:
lst[::-1]

[4, 3, 2, 1]

In [ ]:
lst[-1:0:-1]

[4, 3, 2]

In [ ]:
lst[5:8]

[]

In [ ]:
lst[1:10]

[2, 3, 4]

With this in mind, you can print a reversed version of the list by calling

In [ ]:
lst[::-1]

[4, 3, 2, 1]

When this is mind, you can print a reversed version of the list by calling

In [ ]:
lst[::-1]

[4, 3, 2, 1]

When using step lengths of negative amounts, the starting index has to be greater than the ending index otherwise the result will be an empty list.

In [ ]:
lst[3:1:-1]

[4, 3]

Using negative step indices are equivalent to the following code:

In [ ]:
reversed(lst)[0:2]

TypeError: 'list_reverseiterator' object is not subscriptable

The indices used are 1 less than those used in negative indexing and are reversed.

##### Advanced slicing

When lists are sliced the __getitem__() method of the list object is called, with a `slice` object. Python has a built-in slice method to generate slice objects. We can use this store a slice and reuse it later like so.

In [ ]:
data = 'chandan purohit    22 2000'

In [ ]:
name_slice = slice(0,10)

In [ ]:
age_slice = slice(19,21)

In [ ]:
salary_slice = slice(22,None)

In [ ]:
print(data[name_slice])

chandan pu

In [ ]:
print(data[age_slice])

22

In [ ]:
print(data[salary_slice])

2000

This can be of greate use by providing slicing functionally to our objects by overriding __getitem__ in our class.

## 3) Checking if list is empty

The emptiness of a list is associated to the boolean False, so you don't have to check len(lst) == 0, but just lst
or not lst

In [ ]:
lst = []

In [ ]:
if not lst: 
    print('List is empty')

List is empty

### 4) Iterating over a list

Python supports using a for loop directly on a list:

In [ ]:
my_list = ['foo', 'bar', 'baz']

In [ ]:
for item in my_list: 
    print(item)

foo
bar
baz

You can also get the position of each item at the same time:

In [ ]:
for (index,item) in enumerate(my_list):
    print('The item in position {} is : {}'.format(index, item))

The item in position 0 is : foo
The item in position 1 is : bar
The item in position 2 is : baz

The other way of iterating a list based on the index value:

In [ ]:
for i in range(0, len(my_list)):
    print(my_list[i])

foo
bar
baz

Note that changing items in a list while iterating on it may have unexpected results:

In [ ]:
for item in my_list: 
    if item == 'foo': 
        del my_list[0] 
    print(item)

foo
baz

In this last example, we deleted the first item at the first iteration, but that caused bar to be skipped.

## 5) Checking whether an item is in a list

Python makes it very simple to check whether is in a list, Simply use the `in` operator:

In [ ]:
lst = ['test', 'twest', 'tweast', 'treast']

In [ ]:
'test' in lst

True

In [ ]:
'toast' in lst

False

Note: the in operator on sets is asymptotically faster than on lists. If you need to use it many times on
    potentially large lists, you may want to convert your list to a set, and test the presence of elements on
    the set.

In [ ]:
slst = set(lst)

In [ ]:
'test' in slst

True

## 6) Any and all x

You can use all() to determine if all the values in an iterable evaluate to True:

In [ ]:
nums = [1,1,0,1]

In [ ]:
all(nums)

False

In [ ]:
chars = ['a', 'b', 'c', 'd']

In [ ]:
all(chars)

True

Likewise, any() determines if one or more values in an iterable evaluate to True:

In [ ]:
nums = [1,1,0,1]

In [ ]:
any(nums)

True

In [ ]:
vals = [None, None, None, False]

In [ ]:
any(vals)

False

While this example uses a list, it is important to note these built-ins work with any iterable, including generators.

In [ ]:
vals = [1,2,3,4]

In [ ]:
any(val < 12 for val in vals)

True

In [ ]:
any((val*2) > 6 for val in vals)

True

## 7) Reversing list elements

You can use the `reversed` function which returns an iterator to the reversed list:

In [ ]:
numbers = list(range(10))

In [ ]:
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
rev = reversed(numbers)

In [ ]:
print(rev)

<list_reverseiterator object at 0x000001D6B07D1090>

Note that the list "numbers" remains unchanged by this operation, and remains in the same order it was originally.

To reverse in place, you can also use the reverse method.

You can also reverse a list (actually obtaining a copy, the original list is unaffected) by using the slicing syntax,
setting the third argument (the step) as -1:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## 8) Concatemate and Merge lists

### 8.1) The simplest way to concatenate list1 and list2:

merged = list1 + list2

### 8.2) zip returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument
sequences or iterables:

In [ ]:
alist = ['a1', 'a2', 'a3'] 
blist = ['b1', 'b2', 'b3']
for a,b in zip(alist, blist): 
    print(a,b)

a1 b1
a2 b2
a3 b3

If the lists have different lengths then the result will include only as many elements as the shortest one:

In [ ]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3', 'b4']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [ ]:
alist = []

In [ ]:
len(list(zip(alist, blist)))

0

For padding lists of unequal length to the longest one with Nones use itertools.zip_longest
(itertools.izip_longest in Python 2)

    alist = ['a1', 'a2', 'a3']
    blist = ['b1']
    clist = ['c1', 'c2', 'c3', 'c4']
    for a,b,c in itertools.zip_longest(alist, blist, clist):
        print(a, b, c)

### 8.3) Insert to a specific index values:

In [ ]:
alist = [123, "xyz", "zara", "abc"]

In [ ]:
alist.insert(3, [2009])

In [ ]:
print("Final List :", alist)

Final List : [123, 'xyz', 'zara', [2009], 'abc']

## 9) Length of a list:

Use len() to get the one-dimensional length of a list:

In [ ]:
len(["one", "two"])

2

In [ ]:
len(["one", [2, 3], "four"])

3

len() also works on strings, dictionaries, and other data structures similar to lists.

Note that len() is a built-in function, not a method of a list object.

Also note that the cost of len() is O(1), meaning it will take the same amount of time to get the length of a list
regardless of its length.

## 10) Remove duplicate values in list

Removing duplicate values in a list can be done by converting the list to a set (that is an unordered collection of
distinct objects). If a list data structure is needed, then the set can be converted back to a list using the function
list():

In [ ]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))

['duke', 'aixk', 'edik', 'tofp']

Note that by converting a list to a set the original ordering is lost.

To preserve the order of the list one can use an OrderedDict

In [ ]:
import collections

In [ ]:
collections.OrderedDict.fromkeys(names).keys()

odict_keys(['aixk', 'duke', 'edik', 'tofp'])

## 11) Comparison of lists

It's possible to compare lists and other sequences lexicographically using comparison operators. Both operands
must be of the same type.

In [ ]:
[1, 10, 100] < [2, 10, 100]

True

In [ ]:
[1, 10, 100] < [1, 10, 100]

False

In [ ]:
[1, 10, 100] <= [1, 10, 100]

True

In [ ]:
[1, 10, 100] < [1, 10, 101]

True

In [ ]:
[1, 10, 100] < [0, 10, 100]

False

If one of the lists is contained at the start of the other, the shortest list wins.

In [ ]:
[1, 10] < [1, 10, 100]

True

## 12) Accessing values in nested list

Starting with a three-dimensional list:

In [ ]:
alist = [[[1, 2], [3, 4]], [[5, 6, 7], [8, 9, 10], [12, 13, 14]]]

In [ ]:
print(alist)

[[[1, 2], [3, 4]], [[5, 6, 7], [8, 9, 10], [12, 13, 14]]]

Accessing items in the list:

In [ ]:
print(alist[0][0][1])

2

In [ ]:
print(alist[1][1][2])

10

Performing support operations:

In [ ]:
alist[0][0].append(11)
print(alist[0][0][2])

11

Using nested for loops to print the list:

In [ ]:
for row in alist: #One way to loop through nested lists
    for col in row:
        print(col)

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
[12, 13, 14]

Note that this operation can be used in a list comprehension or even as a generator to produce efficiencies, e.g.:

In [ ]:
[col for row in alist for col in row]

[[1, 2, 11], [3, 4], [5, 6, 7], [8, 9, 10], [12, 13, 14]]

Not all items in the outer lists have to be lists themselves:

In [ ]:
alist[1].insert(2, 15)

Another way to use nested for loops. The other way is better but I've needed to use this on occasion:

In [ ]:
for row in range(len(alist)): #A less Pythonic way to loop through lists
    for col in range(len(alist[row])):
        print(alist[row][col])

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
15
[12, 13, 14]

Using slices in nested list:

In [ ]:
print(alist[1][1:])

[[8, 9, 10], 15, [12, 13, 14]]

The final list:

In [ ]:
print(alist)

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], 15, [12, 13, 14]]]

## 13) Initializing a list to a fixed Number of Elements

For immutable elements

In [ ]:
my_list = [None] * 10
my_list = ["test"] * 10

In [ ]:
print(my_list)

['test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

For mutable elements, the same construct will result in all elements of the list referring to the same object, for
example, for a set:

In [ ]:
my_list = [{1}] * 10

In [ ]:
print(my_list)

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]

In [ ]:
my_list[0].add(2)

In [ ]:
print(my_list)

[{1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}]

Instead, to initialize the list with a fixed number of different mutable objects, use:

In [ ]:
my_list = [{1} for _ in range(10)]

In [ ]:
print(my_list)

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]