# Tuple

A tuple is an immuatable list of values. Tuples are one of Python's simplest and most common collection types, and can be created with the comma operator (value = 1,2,3).

## 1) Tuple

Syntactically, a tuple is a comma-separated list of values:

In [8]:
t = 'a', 'b', 'c', 'd'

Although not necessary, it is common to enclose tuples in parentheses:

In [9]:
t = ("a", "b", "c", "d")

Create an empty tuple with parentheses:

In [10]:
to = ()

In [11]:
type(to)

tuple

Note that a single value in parentheses is not a tuple:

In [12]:
t1 = ('a')

In [13]:
type(t1)

str

To create a singleton tuple it is necessary to have a trailing comma.

In [14]:
t2 = ("a",)
type(t2)

tuple

Note that for singleton tuples it's recommended (see PEP8 on trailing commas) to use parentheses. Also, no white
space after the trailing comma (see PEP8 on whitespaces)

In [15]:
t2 = ("a",)  # PEP8-compliant
t2 = ("a",)  # this notation is not recommended by PEP8
t2 = ("a",)  # this notation is not recommended by PEP8

Another way to create a tuple is the built-in function tuple

In [16]:
t = tuple('lupins')

In [17]:
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [18]:
t = tuple(range(3))

In [19]:
t

(0, 1, 2)

These examples are based on material from the book Think Python by Alien B.Downey.

## 2) Tuples are immutable

One of the main differences between lists and tuples in Python is that tuples are immutable, that is, one cannot add or modify items once the tuple Ã­ initialized. For example:

In [20]:
t = (1,4,9)

In [21]:
t[0] =2

TypeError: 'tuple' object does not support item assignment

Similarly, tuples don't have .append and .extend methods as list does. Using += is possible, but it changes the binding of the variables, and not the tuple itself:

In [ ]:
t = (1, 2)

In [ ]:
q = t

In [ ]:
t += (3, 4)

In [ ]:
t

(1, 2, 3, 4, 3, 4)

Be careful when placing mutable objects, such as lists, inside tuples. This may lead to very confusing outcomes
when changing them. For example:

In [ ]:
t = (1,2,3,[1,2,3])

In [ ]:
t[3] += [4,5]

TypeError: 'tuple' object does not support item assignment

You can use the += operator to "append" to a tuple - this works by creating a new tuple with the new element you
"appended" and assign it to its current variable; the old tuple is not changed, but replaced!

This avoids converting to and from a list, but this is slow and is a bad practice, especially if you're going to append
multiple times.

## 3) Packing and Unpacking Tuples

Tuples in Python are values separated by commas. Enclosing parentheses for inputting tuples are optional, so the
two assignments

In [ ]:
a = 1,2,3

In [ ]:
a

(1, 2, 3)

In [ ]:
a = (1,2,3)

In [ ]:
a

(1, 2, 3)

are equivalent. The assignment a = 1, 2, 3 is also called packing because it packs values together in a tuple.
Note that a one-value tuple is also a tuple. To tell Python that a variable is a tuple and not a single value you can use a traling comma

In [ ]:
a = 1  # a is the value 1
a = (1,)  # a is the tuple (1,)

A comma is needed also if you use parentheses

In [ ]:
a = (1,)  # a is the tuple (1,)
a = 1  # a is the value 1 and not a tuple

To unpack values from a tuple and do multiple assignments use

In [ ]:
# unpacking AKA multiple assignments 
x,y,z = (1,2,3) 
#x = 1 
#y = 2
#z = 3

The symbol _ can be used as a disposable variable name if one only needs some elements of a tuple, acting as a placeholder:

In [ ]:
a = 1,2,3,4 
_, x, y, z = a 
# x = 2 
# y = 3

Single element tuples:

In [ ]:
x, = 1, # x is the value 1 
x = 1, # x is the tuple (1,)

In Python 3 a target variable with a * prefix can be used as a catch-all variable (see Unpacking Iterables ):

In [ ]:
first, *more, last = (1, 2, 3, 4, 5)
# first == 1
# more == [2, 3, 4]
# last == 5

## 4) Built-in Tuple Functions

Tuples support the following build-in functions

#### Comparison

If elements are of the same type, python performs the comparison and returns the result. If elements are different
types, it checks whether they are numbers.
- If numbers, perform comparison.
- If either element is a number, then the other element is returned.
- Otherwise, types are sorted alphabetically .
If we reached the end of one of the lists, the longer list is "larger." If both list are same it returns 0.

In [ ]:
tuple1 = ('a', 'b', 'c', 'd', 'e') 
tuple2 = ('1', '2', '3')
tuple3 = ("a", "b", "c", "d", "e")

In [23]:
import operator

In [25]:
tuple1 == tuple2

False

In [26]:
tuple2 == tuple3

False

In [27]:
tuple3 == tuple1

True

#### Tuple Length

The function len returns the total length of the tuple

In [28]:
len(tuple1)

5

#### Max of a tuple

The function max returns item from the tuple with the max value

In [29]:
max(tuple1)

'e'

In [30]:
max(tuple2)

'3'

In [31]:
max(tuple3)

'e'

#### Min of a tuple

The function min returns the item from the tuple with the min value

In [32]:
min(tuple1)

'a'

In [33]:
min(tuple2)

'1'

In [34]:
min(tuple3)

'a'

#### Convert a list into tuple

The built-in function tuple converts a list into a tuple

In [35]:
list = [1,2,3,4,5]

In [36]:
tuple(list)

(1, 2, 3, 4, 5)

#### Tuple concatenation

Use + to concatenate two tuples

In [37]:
tuple1+tuple2

('a', 'b', 'c', 'd', 'e', '1', '2', '3')

## 5) Tuple Are Element - wise Hashable or Equatable

In [39]:
hash((1,2))

-3550055125485641917

In [40]:
hash([], {"hello"})

TypeError: hash() takes exactly one argument (2 given)

Not ok because lists and sets are not hashable

Thus a tuple can be put inside a set or as a key in a dict only if each of its elements can.

In [41]:
{(1, 2)}  # ok

{(1, 2)}

In [42]:
{ ([], {"hello"}) ) # not ok

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' (3861670930.py, line 1)

## 6) Indexing Tuples

In [43]:
x = (1,2,3)

In [44]:
x[0]

1

In [45]:
x[1]

2

In [46]:
x[2]

3

Indexing with negative numbers will start from the last element as -1:

In [47]:
x[-1]

3

In [48]:
x[-2]

2

In [49]:
x[-3]

1

In [50]:
x[-4]

IndexError: tuple index out of range

Indexing a range of elements.

In [51]:
print(x[:-1])

(1, 2)

In [52]:
print(x[-1:])

(3,)

In [53]:
print(x[1:3])

(2, 3)

## 7) Reversing Elements

Reverse elements within a tuple

In [54]:
colors = "red", "green", "blue"
rev = colors[::-1]
# rev: ("blue", "green", "red")
colors = rev
# colors: ("blue", "green", "red")

Or using reversed (reversed gives an iterable which is converted to a tuple):

In [55]:
rev = tuple(reversed(colors))
# rev: ("blue", "green", "red")
colors = rev
# colors: ("blue", "green", "red")