## Kruskal Wallis Dept Test

In [389]:
import pandas as pd 
import numpy as np

In [390]:
filepath = "C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/Krusal_walis.csv"
my_data = pd.read_csv(filepath)

In [391]:
my_data

     rating  nhom
0       4.0     1
1       4.7     1
2       4.3     1
3       3.9     1
4       4.6     1
..      ...   ...
937     4.8     5
938     4.4     5
939     4.7     5
940     4.6     5
941     4.7     5

[942 rows x 2 columns]

In [392]:
list_rank = []

In [393]:
value_to_rank = my_data["rating"]
list_value_to_rank = []
for i in value_to_rank: 
    list_value_to_rank.append(i)

In [394]:
list_value_to_rank.sort()

In [395]:
print(list_value_to_rank)

[3.9, 3.9, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.3, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.4, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.7, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.9, 4.9, 4.9, 4.9, 4.9, 5.0, 5.0]

In [396]:
# list_rank = {}
# j = 0 
# temp_sum = 0 
# calculate_duplicate_value = 0 
# for i in range(len(list_value_to_rank)): 
#     j = i + 1 
#     temp_sum = i + 1 
#     while list_value_to_rank[i] == list_value_to_rank[i]:
#         j += 1 
#         temp_sum += j+1 
#         calculate_duplicate_value += 1 
#     list_rank[list_value_to_rank] = temp_sum/calculate_duplicate_value 
#     calculate_duplicate_value = 0

In [397]:
from collections import Counter
counter_duplicate = Counter(list_value_to_rank)
counter_duplicate

Counter({4.6: 216,
         4.7: 177,
         4.5: 170,
         4.4: 135,
         4.3: 93,
         4.8: 67,
         4.2: 40,
         4.1: 28,
         4.0: 7,
         4.9: 5,
         3.9: 2,
         5.0: 2})

In [398]:
list_rank={}

In [399]:
def sum_index(start, end):
    iterator = start 
    sum = 0
    while iterator <= end: 
        sum += iterator 
        iterator += 1 
    return sum
list_value = counter_duplicate.keys()
list_value = list(list_value)
print(list_value)

[3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0]

In [400]:
start = 1 
for i in range(len(list_value)): 
    end = start + counter_duplicate[list_value[i]] - 1 
    sum = sum_index(start, end) 
    list_rank[list_value[i]] = sum/counter_duplicate[list_value[i]]
    start = end + 1 
list_rank

{3.9: 1.5,
 4.0: 6.0,
 4.1: 23.5,
 4.2: 57.5,
 4.3: 124.0,
 4.4: 238.0,
 4.5: 390.5,
 4.6: 583.5,
 4.7: 780.0,
 4.8: 902.0,
 4.9: 938.0,
 5.0: 941.5}

In [401]:
j = 0 
my_data["rank"] = 0 
for i in my_data["rating"]: 
    my_data["rank"][j] = list_rank[i]
    j+=1
my_data

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data["rank"][j] = list_rank[i]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16024\144272352.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  my_data["rank"][j] = list_rank[i]

     rating  nhom   rank
0       4.0     1    6.0
1       4.7     1  780.0
2       4.3     1  124.0
3       3.9     1    1.5
4       4.6     1  583.5
..      ...   ...    ...
937     4.8     5  902.0
938     4.4     5  238.0
939     4.7     5  780.0
940     4.6     5  583.5
941     4.7     5  780.0

[942 rows x 3 columns]

In [402]:
list_sum_rank_by_group = []
list_group = my_data["nhom"].unique()
list_group

array([1, 2, 3, 4, 5], dtype=int64)

In [403]:
def sum_rank(array): 
    sum = 0 
    for i in array: 
        sum += float(i) 
    return sum

In [404]:
for i in list_group: 
    list_sum_rank_by_group.append(sum_rank(my_data[my_data["nhom"] == i]["rank"]))
list_sum_rank_by_group

[277652.0, 41457.5, 68297.0, 37110.5, 19636.0]

In [405]:
list_len_groups = []
for i in list_group:
    list_len_groups.append(len(my_data[my_data["nhom"] == i]))
list_len_groups

[530, 94, 198, 82, 38]

In [406]:
list_custom_sum_rank_by_group = []
for i in range(len(list_group)):
    list_custom_sum_rank_by_group.append(list_sum_rank_by_group[i]/list_len_groups[i])
list_custom_sum_rank_by_group

[523.8716981132076,
 441.03723404255317,
 344.9343434343434,
 452.5670731707317,
 516.7368421052631]

In [407]:
list_test_value = []
for i in range(len(list_group)): 
    for j in range(i+1,len(list_group)): 
        list_test_value.append(abs(list_custom_sum_rank_by_group[i]-list_custom_sum_rank_by_group[j]))
len(list_test_value)

10

In [408]:
from scipy.stats import chi2
import math

In [409]:
alpha = 0.05 
k = len(list_group) - 1 
n = len(my_data)

In [410]:
list_value_table_chi2 = []
for i in range(len(list_group)):
    for j in range(i+1,len(list_group)): 
        list_value_table_chi2.append(math.sqrt(chi2.ppf(1-alpha,k)*(n*(n+1)/12)*(1/list_len_groups[i] + 1/list_len_groups[j])))
list_value_table_chi2

[93.79123284308832,
 69.80185608243532,
 99.44951313642328,
 140.7395784929989,
 104.97036686867654,
 126.63603148813199,
 161.10278632717228,
 110.05538708027773,
 148.42375657793173,
 164.46129656312377]

In [421]:
temp = 0 
for i in range(len(list_group)):
    for j in range(i+1,len(list_group)):
        print(f"H0: med{i+1} = med{j+1}")
        if list_value_table_chi2[temp] <= list_test_value[temp]: 
            print(f"D({str(i+1)},{str(j+1)}) >= C({str(i+1)},{str(j+1)})")
            print("Reject hypothesis H0")
            print()
        else: 
            print(f"D{str(i+1)}{str(j+1)} < C{str(i+1)}{str(j+1)}")
            print("Don't reject hypothesis H0")
            print()
        if temp <= len(list_value_table_chi2): 
            temp += 1
        else:
            break

H0: med1 = med2
D12 < C12
Don't reject hypothesis H0

H0: med1 = med3
D(1,3) >= C(1,3)
Reject hypothesis H0

H0: med1 = med4
D14 < C14
Don't reject hypothesis H0

H0: med1 = med5
D15 < C15
Don't reject hypothesis H0

H0: med2 = med3
D23 < C23
Don't reject hypothesis H0

H0: med2 = med4
D24 < C24
Don't reject hypothesis H0

H0: med2 = med5
D25 < C25
Don't reject hypothesis H0

H0: med3 = med4
D34 < C34
Don't reject hypothesis H0

H0: med3 = med5
D(3,5) >= C(3,5)
Reject hypothesis H0

H0: med4 = med5
D45 < C45
Don't reject hypothesis H0