## Wilconxon sign rank art craft sewing

# H0: med5 = 4.6
# H1: med5 != 4.6

In [75]:
import pandas as pd 
import numpy as np 
from scipy.stats import wilcoxon

In [76]:
my_data = pd.read_excel("C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/rating_art_craft_sewing.xlsx")

In [77]:
my_data.head()

   rating
0     4.5
1     4.5
2     4.7
3     4.4
4     4.7

In [78]:
my_data.tail()

    rating
33     4.8
34     4.4
35     4.7
36     4.6
37     4.7

In [79]:
alpha = 0.05 # mức ý nghĩa 
x = 4.6 #
type_item = "Art, Craft & Sewing"

In [80]:
transformed_data = [round((float(i) - x),2) for i in my_data["rating"]]
transformed_data

[-0.1,
 -0.1,
 0.1,
 -0.2,
 0.1,
 0.0,
 0.0,
 -0.2,
 -0.4,
 0.0,
 0.1,
 0.1,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 -0.1,
 0.1,
 -0.1,
 -0.2,
 -0.1,
 -0.5,
 -0.3,
 -0.1,
 0.0,
 0.0,
 0.0,
 -0.1,
 -0.2,
 0.0,
 0.1,
 0.0,
 0.2,
 -0.2,
 0.1,
 0.0,
 0.1]

In [81]:
stat, p = wilcoxon(transformed_data)

In [82]:
print(f"Statistic: {stat}")
print(f"p-value: {p}")

Statistic: 96.0
p-value: 0.0642891964909829

In [83]:
if p < alpha: 
    print(f"Bác bỏ giả thuyết H0: rating của ngành hàng {type_item} khác {x}")
else: 
    print(f"Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng {type_item} bằng {x}")

Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng Art, Craft & Sewing bằng 4.6