## Wilconxon sign rank  tool home

# H0: med4 = 4.5 
# H1: med4 != 4.5

In [71]:
import pandas as pd 
import numpy as np 
from scipy.stats import wilcoxon

In [72]:
my_data = pd.read_excel("C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/rating_tool_home.xlsx")

In [73]:
my_data.head()

   rating
0     4.5
1     4.4
2     4.7
3     4.5
4     4.4

In [74]:
my_data.tail()

    rating
77     4.6
78     4.6
79     4.2
80     4.8
81     4.6

In [75]:
alpha = 0.05 # mức ý nghĩa 
x = 4.5 #
type_item = "Tool Home Improvement"

In [76]:
transformed_data = [round((float(i) - x),2) for i in my_data["rating"]]

In [77]:
stat, p = wilcoxon(transformed_data)

In [78]:
print(f"Statistic: {stat}")
print(f"p-value: {p}")

Statistic: 701.0
p-value: 0.2168993091841258

In [79]:
if p < alpha: 
    print(f"Bác bỏ giả thuyết H0: rating của ngành hàng {type_item} khác {x}")
else: 
    print(f"Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng {type_item} bằng {x}")

Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng Tool Home Improvement bằng 4.5