## Wilconxon sign rank Office Products

## Giả thuyết:

# H0: med1 = 4.6 
# H1: med1 != 4.6

In [76]:
import pandas as pd 
import numpy as np

In [77]:
my_data = pd.read_excel("C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/rating_office_products.xlsx")
my_data

     rating
0       4.0
1       4.7
2       4.3
3       3.9
4       4.6
..      ...
525     4.8
526     4.7
527     4.5
528     4.2
529     4.8

[530 rows x 1 columns]

In [78]:
from scipy.stats import wilcoxon 
alpha = 0.05 # mức ý nghĩa 
x = 4.6 
type_item = "Office Products"

In [79]:
transformed_data = [round((float(i) - x),2) for i in my_data["rating"]]

In [80]:
stat, p = wilcoxon(transformed_data)

In [81]:
print(f"Statistic: {stat}")
print(f"P-value: {p}")

Statistic: 29059.0
P-value: 1.8745108222697935e-07

In [82]:
if p < alpha: 
    print(f"Bác bỏ giả thuyết H0: rating của ngành hàng {type_item} khác {x}")
else: 
    print(f"Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng {type_item} bằng {x}")

Bác bỏ giả thuyết H0: rating của ngành hàng Office Products khác 4.6