## Wilconxon sign rank electronics

# H0: med2 = 4.5 
# H1: med2 != 4.5

In [41]:
import pandas as pd 
import numpy as np 
from scipy.stats import wilcoxon

In [42]:
my_data = pd.read_excel("C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/rating_electronics.xlsx")

In [43]:
my_data.head()

   rating
0     4.3
1     4.8
2     4.4
3     4.6
4     4.6

In [44]:
my_data.tail()

    rating
87     4.7
88     4.5
89     4.3
90     4.6
91     4.6

In [45]:
alpha = 0.05 # mức ý nghĩa 
x = 4.5 #
type_item = "Electronics"

In [46]:
transformed_data = [round((float(i) - x),2) for i in my_data["rating"]]

In [47]:
stat, p = wilcoxon(transformed_data)

In [48]:
print(f"Statistic: {stat}")
print(f"p-value: {p}")

Statistic: 1273.5
p-value: 0.41354305220037935

In [49]:
if p < alpha: 
    print(f"Bác bỏ giả thuyết H0: rating của ngành hàng {type_item} khác {x}")
else: 
    print(f"Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng {type_item} bằng {x}")

Không đủ bằng chứng để bác bỉ giả thuyết H0: rating của ngành hàng Electronics bằng 4.5