# normal probability distribution

In [2]:
import pandas as pd 
import numpy as np

In [3]:
filepath = "C:/Users/ADMIN/BAOHUY/Phan_tich_du_lieu/initial_price.csv"
my_data = pd.read_csv(filepath)

In [4]:
my_data

     initial_price
0           160.00
1             9.99
2            21.00
3            14.00
4            13.00
..             ...
987          30.80
988          15.00
989         250.00
990          14.00
991          40.00

[992 rows x 1 columns]

In [5]:
mean_data = my_data["initial_price"].mean()

In [6]:
mean_data

np.float64(47.39298387096774)

In [7]:
std = np.std(my_data["initial_price"])

In [8]:
std

np.float64(75.9849028163876)

In [9]:
S = 0 
for i in range(len(my_data["initial_price"])): 
    S += pow((my_data["initial_price"][i]-mean_data),3)
S /= (len(my_data["initial_price"])*pow(std,3))
S

np.float64(4.037336747207647)

In [10]:
K = 0 
for i in range(len(my_data["initial_price"])): 
    K += pow((my_data["initial_price"][i]-mean_data),4)
K /= (len(my_data["initial_price"])*pow(std,4))
K

np.float64(22.83506456168618)

In [11]:
JB = len(my_data["initial_price"])*(pow(S,2)/6 + pow((K-3),2)/24)
JB

np.float64(18956.71237925044)

In [12]:
from scipy.stats import chi2

In [13]:
value_table = chi2.ppf(1-0.05,len(my_data["initial_price"])-1)
value_table

np.float64(1065.3475996328712)

In [14]:
print("H0: X tuân theo phân phối chuẩn")
print("H1: X không tuân theo phân phối chuẩn")
print(f"JB({JB}) > {value_table}: Giá trị kiểm định lớn hơn giá trị tra bảng")
print("==> Bác bỏ H0")
print("==> Giá khởi đầu không tuân theo phân phối chuẩn")

H0: X tuân theo phân phối chuẩn
H1: X không tuân theo phân phối chuẩn
JB(18956.71237925044) > 1065.3475996328712: Giá trị kiểm định lớn hơn giá trị tra bảng
==> Bác bỏ H0
==> Giá khởi đầu không tuân theo phân phối chuẩn