## Data Aggregation and group Operations

# How to Think About Group Operations

To get started, here is a small tabular dataset as a DataFrame:

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                 "key2": pd.Series([1,2,1,2,1,None,1], dtype = "Int64"),
                  "data1": np.random.standard_normal(7), 
                  "data2": np.random.standard_normal(7)
                  })

df

   key1  key2     data1     data2
0     a     1  0.724456  0.863391
1     a     2  0.502203 -1.052696
2  None     1 -0.273370 -1.803473
3     b     2  0.033522 -0.298402
4     b     1  0.068649 -0.442406
5     a  <NA> -0.118894 -0.241088
6  None     1 -0.152748 -1.740744

In [9]:
grouped1 = df["data1"].groupby(df["key1"])
grouped1

In [10]:
grouped1.mean()

key1
a   -0.138332
b   -0.279863
Name: data1, dtype: float64

In [11]:
grouped1.median()

key1
a    0.179931
b   -0.279863
Name: data1, dtype: float64

In [13]:
grouped2 = df["data1"].groupby(df["key2"])
grouped2

In [15]:
grouped2.mean()

key2
1    0.061068
2   -1.010292
Name: data1, dtype: float64

In [16]:
grouped2.median()

key2
1    0.319833
2   -1.010292
Name: data1, dtype: float64

In [17]:
grouped3 = df["data2"].groupby(df["key1"])

In [18]:
grouped3

In [19]:
grouped3.mean()

key1
a   -0.323918
b    0.219532
Name: data2, dtype: float64

In [20]:
grouped3.median()

key1
a   -0.417043
b    0.219532
Name: data2, dtype: float64

In [21]:
grouped4 = df["data2"].groupby(df["key2"])
grouped4

In [22]:
grouped4.mean()

key2
1   -0.093063
2    0.926375
Name: data2, dtype: float64

In [23]:
grouped4.median()

key2
1   -0.238286
2    0.926375
Name: data2, dtype: float64

In [24]:
grouped5 = df.groupby(["key1", "key2"])

In [25]:
grouped5

In [26]:
grouped5.mean()

              data1     data2
key1 key2
a    1     0.179931 -0.417043
     2    -0.912492  0.553201
b    1     0.548365 -0.860485
     2    -1.108092  1.299549

In [27]:
grouped5.median()

              data1     data2
key1 key2
a    1     0.179931 -0.417043
     2    -0.912492  0.553201
b    1     0.548365 -0.860485
     2    -1.108092  1.299549

In [28]:
grouped6 = df.groupby(["key2", "key1"])

In [29]:
grouped6

In [30]:
grouped6.mean()

              data1     data2
key2 key1
1    a     0.179931 -0.417043
     b     0.548365 -0.860485
2    a    -0.912492  0.553201
     b    -1.108092  1.299549

In [31]:
grouped6.median()

              data1     data2
key2 key1
1    a     0.179931 -0.417043
     b     0.548365 -0.860485
2    a    -0.912492  0.553201
     b    -1.108092  1.299549

In [33]:
grouped7 = df["data1"].groupby([df["key1"], df["key2"]])

In [34]:
grouped7

In [35]:
grouped7.mean() 
grouped7.median()

key1  key2
a     1       0.179931
      2      -0.912492
b     1       0.548365
      2      -1.108092
Name: data1, dtype: float64

In [36]:
grouped8 = df["data2"].groupby([df["key1"], df["key2"]])
grouped8

In [37]:
grouped8.mean()

key1  key2
a     1      -0.417043
      2       0.553201
b     1      -0.860485
      2       1.299549
Name: data2, dtype: float64

In [38]:
grouped8.median()

key1  key2
a     1      -0.417043
      2       0.553201
b     1      -0.860485
      2       1.299549
Name: data2, dtype: float64

In [43]:
t1 = grouped7.mean()

In [44]:
t1.unstack()

key2         1         2
key1
a     0.179931 -0.912492
b     0.548365 -1.108092

In [45]:
t1 = grouped7.median()
t1.unstack()

key2         1         2
key1
a     0.179931 -0.912492
b     0.548365 -1.108092

In [46]:
t2 = grouped8.mean() 
t2

key1  key2
a     1      -0.417043
      2       0.553201
b     1      -0.860485
      2       1.299549
Name: data2, dtype: float64

In [47]:
t2.unstack()

key2         1         2
key1
a    -0.417043  0.553201
b    -0.860485  1.299549

In this example, the group keys are all Series, though they could be any arrays of the right length:

In [48]:
states = np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]

df["data1"].groupby([states, years]).mean()

CA  2005   -0.297464
    2006   -0.943757
OH  2005   -0.464080
    2006    0.504049
Name: data1, dtype: float64

In [49]:
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5 -0.138332 -0.323918
b      1.5 -0.279863  0.219532

In [50]:
df.groupby("key2").mean()

TypeError: can only concatenate str (not "int") to str

In [51]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1     0.179931 -0.417043
     2    -0.912492  0.553201
b    1     0.548365 -0.860485
     2    -1.108092  1.299549

In [53]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

# Iterating over group

The object returned by groupby supports iteration, generating a sequence of 2-tuples containing the group name along with the chunk of data. Consider the following:

In [54]:
for name, group in df.groupby("key1"): 
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.179931 -0.417043
1    a     2 -0.912492  0.553201
5    a  <NA>  0.317565 -1.107912
b
  key1  key2     data1     data2
3    b     2 -1.108092  1.299549
4    b     1  0.548365 -0.860485

In [55]:
for name in df.groupby("key1"): 
    print(name)

('a',   key1  key2     data1     data2
0    a     1  0.179931 -0.417043
1    a     2 -0.912492  0.553201
5    a  <NA>  0.317565 -1.107912)
('b',   key1  key2     data1     data2
3    b     2 -1.108092  1.299549
4    b     1  0.548365 -0.860485)

In [56]:
for name, group in df.groupby("key1"): 
    print(name)

a
b

In [57]:
for name, group in df.groupby("key1"):
    print (group)

  key1  key2     data1     data2
0    a     1  0.179931 -0.417043
1    a     2 -0.912492  0.553201
5    a  <NA>  0.317565 -1.107912
  key1  key2     data1     data2
3    b     2 -1.108092  1.299549
4    b     1  0.548365 -0.860485

In [59]:
for name, group in df.groupby(["key1", "key2"]): 
    print (name)
    print (group)

('a', 1)
  key1  key2     data1     data2
0    a     1  0.179931 -0.417043
('a', 2)
  key1  key2     data1     data2
1    a     2 -0.912492  0.553201
('b', 1)
  key1  key2     data1     data2
4    b     1  0.548365 -0.860485
('b', 2)
  key1  key2     data1     data2
3    b     2 -1.108092  1.299549

In [60]:
for name, group in df.groupby(["key1", "key2"]): 
    print (name)

('a', 1)
('a', 2)
('b', 1)
('b', 2)

In [61]:
for name, group in df.groupby(["key1", "key2"]): 
    print (group)

  key1  key2     data1     data2
0    a     1  0.179931 -0.417043
  key1  key2     data1     data2
1    a     2 -0.912492  0.553201
  key1  key2     data1     data2
4    b     1  0.548365 -0.860485
  key1  key2     data1     data2
3    b     2 -1.108092  1.299549

In [62]:
for name in df.groupby(["key1","key2"]): 
    print(name)

(('a', 1),   key1  key2     data1     data2
0    a     1  0.179931 -0.417043)
(('a', 2),   key1  key2     data1     data2
1    a     2 -0.912492  0.553201)
(('b', 1),   key1  key2     data1     data2
4    b     1  0.548365 -0.860485)
(('b', 2),   key1  key2     data1     data2
3    b     2 -1.108092  1.299549)

In the case of nultiple keys, the first element in the tuple will be a tuple of key values:

In [4]:
for (k1, k2), group in df.groupby(["key1", "key2"]): 
    print((k1,k2))
    print(group)

('a', 1)
  key1  key2     data1     data2
0    a     1  0.724456  0.863391
('a', 2)
  key1  key2     data1     data2
1    a     2  0.502203 -1.052696
('b', 1)
  key1  key2     data1     data2
4    b     1  0.068649 -0.442406
('b', 2)
  key1  key2     data1     data2
3    b     2  0.033522 -0.298402

In [5]:
for (k1, k2), group in df.groupby(["key1", "key2"]): 
    print(k1)

a
a
b
b

In [7]:
for (k1,k2), group in df.groupby(["key1", "key2"]): 
    print (k2)

1
2
1
2

In [8]:
for (k1,k2), group in df.groupby(["key1", "key2"]): 
    print(group)

  key1  key2     data1     data2
0    a     1  0.724456  0.863391
  key1  key2     data1     data2
1    a     2  0.502203 -1.052696
  key1  key2     data1     data2
4    b     1  0.068649 -0.442406
  key1  key2     data1     data2
3    b     2  0.033522 -0.298402

Of course, you can choose to do whatever you want with the pieces of data. A recipe you may find useful is computing a dictionary of the data pieces as a one-liner:

In [9]:
pieces = {name : group for name, group in df.groupby("key1")}

In [10]:
pieces["a"]

  key1  key2     data1     data2
0    a     1  0.724456  0.863391
1    a     2  0.502203 -1.052696
5    a  <NA> -0.118894 -0.241088

In [11]:
pieces["b"]

  key1  key2     data1     data2
3    b     2  0.033522 -0.298402
4    b     1  0.068649 -0.442406

By default groupby groups on axis = "index", but you can group on any of the other axes. For example, we could group the columns of our example df here by whether they start with "key" or "data":

In [12]:
grouped = df.groupby({"key1": "key", "key2": "key",
                     "data1": "data", "data2": "data"}, axis = "columns")

grouped

In [13]:
for group_key, group_values in grouped: 
    print(group_key)
    print(group_values)

data
      data1     data2
0  0.724456  0.863391
1  0.502203 -1.052696
2 -0.273370 -1.803473
3  0.033522 -0.298402
4  0.068649 -0.442406
5 -0.118894 -0.241088
6 -0.152748 -1.740744
key
   key1  key2
0     a     1
1     a     2
2  None     1
3     b     2
4     b     1
5     a  <NA>
6  None     1

# Another example:

In [16]:
another_dataframe = pd.DataFrame({
    "key1" : ["a", "b", "c", "b", "c", "a", "b", "c"], 
    "key2" : [1,2,3,2,6,4,5,2],
    "key3" : ["i", "ii","i","iii","ii","i","iii","ii"],
    "data1" : np.random.standard_normal(8), 
    "data2" : np.random.standard_normal(8), 
    "data3" : np.random.standard_normal(8)
})

In [17]:
another_dataframe

  key1  key2 key3     data1     data2     data3
0    a     1    i -0.586969 -2.096684  0.603468
1    b     2   ii  0.084348 -1.472118  0.438561
2    c     3    i -0.664654 -1.205513 -1.738664
3    b     2  iii  1.345397  1.092828  0.880092
4    c     6   ii  0.505482  1.088217  1.591596
5    a     4    i -0.370591 -1.805955 -1.334156
6    b     5  iii -2.007443 -0.339862 -0.806795
7    c     2   ii  0.775382 -0.084074 -0.095563

Group by one key:

In [23]:
gr1 = another_dataframe["data1"].groupby(another_dataframe["key1"])
gr1.mean()

key1
a   -0.478780
b   -0.192566
c    0.205404
Name: data1, dtype: float64

In [20]:
gr2 = another_dataframe["data1"].groupby(another_dataframe["key2"])
gr2.mean()

key2
1   -0.688396
2    0.714873
Name: data1, dtype: float64

In [24]:
gr3 = another_dataframe["data1"].groupby(another_dataframe["key3"])
gr3.mean()

key3
i     -0.540738
ii     0.455071
iii   -0.331023
Name: data1, dtype: float64

In [25]:
gr4 = another_dataframe["data2"].groupby(another_dataframe["key1"])
gr4.mean()

key1
a   -1.951320
b   -0.239718
c   -0.067123
Name: data2, dtype: float64

In [26]:
gr5 = another_dataframe["data2"].groupby(another_dataframe["key2"])
gr5.mean()

key2
1   -2.096684
2   -0.154455
3   -1.205513
4   -1.805955
5   -0.339862
6    1.088217
Name: data2, dtype: float64

In [27]:
gr6 = another_dataframe["data2"].groupby(another_dataframe["key3"])
gr6.mean()

key3
i     -1.702718
ii    -0.155992
iii    0.376483
Name: data2, dtype: float64

In [28]:
gr7 = another_dataframe["data3"].groupby(another_dataframe["key1"])
gr3.mean()

key3
i     -0.540738
ii     0.455071
iii   -0.331023
Name: data1, dtype: float64

In [29]:
gr8 = another_dataframe["data3"].groupby(another_dataframe["key2"])
gr8.mean()

key2
1    0.603468
2    0.407697
3   -1.738664
4   -1.334156
5   -0.806795
6    1.591596
Name: data3, dtype: float64

In [30]:
gr9 = another_dataframe["data3"].groupby(another_dataframe["key3"])
gr9.mean()

key3
i     -0.823117
ii     0.644865
iii    0.036649
Name: data3, dtype: float64

Group by two keys:

In [33]:
gr10 = another_dataframe["data1"].groupby([another_dataframe["key1"], another_dataframe["key2"]])
gr10.mean()

key1  key2
a     1      -0.586969
      4      -0.370591
b     2       0.714873
      5      -2.007443
c     2       0.775382
      3      -0.664654
      6       0.505482
Name: data1, dtype: float64

In [35]:
gr11 = another_dataframe["data1"].groupby([another_dataframe["key2"], another_dataframe["key1"]])
gr11.mean()

key2  key1
1     a      -0.586969
2     b       0.714873
      c       0.775382
3     c      -0.664654
4     a      -0.370591
5     b      -2.007443
6     c       0.505482
Name: data1, dtype: float64

In [34]:
gr12 = another_dataframe["data1"].groupby([another_dataframe["key2"], another_dataframe["key3"]])
gr12.mean()

key2  key3
1     i      -0.586969
2     ii      0.429865
      iii     1.345397
3     i      -0.664654
4     i      -0.370591
5     iii    -2.007443
6     ii      0.505482
Name: data1, dtype: float64

In [36]:
gr13 = another_dataframe["data1"].groupby([another_dataframe["key3"], another_dataframe["key2"]])
gr13.mean()

key3  key2
i     1      -0.586969
      3      -0.664654
      4      -0.370591
ii    2       0.429865
      6       0.505482
iii   2       1.345397
      5      -2.007443
Name: data1, dtype: float64

In [37]:
gr14 = another_dataframe["data1"].groupby([another_dataframe["key3"], another_dataframe["key1"]])
gr14.mean()

key3  key1
i     a      -0.478780
      c      -0.664654
ii    b       0.084348
      c       0.640432
iii   b      -0.331023
Name: data1, dtype: float64

In [38]:
gr15 = another_dataframe["data1"].groupby([another_dataframe["key1"], another_dataframe["key3"]])
gr15.mean()

key1  key3
a     i      -0.478780
b     ii      0.084348
      iii    -0.331023
c     i      -0.664654
      ii      0.640432
Name: data1, dtype: float64

In [39]:
gr16 = another_dataframe["data2"].groupby([another_dataframe["key1"], another_dataframe["key2"]])
gr16.mean()

key1  key2
a     1      -2.096684
      4      -1.805955
b     2      -0.189645
      5      -0.339862
c     2      -0.084074
      3      -1.205513
      6       1.088217
Name: data2, dtype: float64

In [40]:
gr17 = another_dataframe["data2"].groupby([another_dataframe["key2"], another_dataframe["key1"]])
gr17.mean()

key2  key1
1     a      -2.096684
2     b      -0.189645
      c      -0.084074
3     c      -1.205513
4     a      -1.805955
5     b      -0.339862
6     c       1.088217
Name: data2, dtype: float64

In [41]:
gr18 = another_dataframe["data2"].groupby([another_dataframe["key2"], another_dataframe["key3"]])
gr18.mean()

key2  key3
1     i      -2.096684
2     ii     -0.778096
      iii     1.092828
3     i      -1.205513
4     i      -1.805955
5     iii    -0.339862
6     ii      1.088217
Name: data2, dtype: float64

In [42]:
gr19 = another_dataframe["data2"].groupby([another_dataframe["key3"], another_dataframe["key2"]])
gr19.mean()

key3  key2
i     1      -2.096684
      3      -1.205513
      4      -1.805955
ii    2      -0.778096
      6       1.088217
iii   2       1.092828
      5      -0.339862
Name: data2, dtype: float64

In [43]:
gr20 = another_dataframe["data2"].groupby([another_dataframe["key3"], another_dataframe["key1"]])
gr20.mean()

key3  key1
i     a      -1.951320
      c      -1.205513
ii    b      -1.472118
      c       0.502071
iii   b       0.376483
Name: data2, dtype: float64

In [44]:
gr21 = another_dataframe["data2"].groupby([another_dataframe["key1"], another_dataframe["key3"]])
gr21.mean()

key1  key3
a     i      -1.951320
b     ii     -1.472118
      iii     0.376483
c     i      -1.205513
      ii      0.502071
Name: data2, dtype: float64

In [45]:
gr22 = another_dataframe["data3"].groupby([another_dataframe["key1"], another_dataframe["key2"]])
gr22.mean()

key1  key2
a     1       0.603468
      4      -1.334156
b     2       0.659327
      5      -0.806795
c     2      -0.095563
      3      -1.738664
      6       1.591596
Name: data3, dtype: float64

In [46]:
gr23 = another_dataframe["data3"].groupby([another_dataframe["key2"], another_dataframe["key1"]])
gr23.mean()

key2  key1
1     a       0.603468
2     b       0.659327
      c      -0.095563
3     c      -1.738664
4     a      -1.334156
5     b      -0.806795
6     c       1.591596
Name: data3, dtype: float64

In [47]:
gr24 = another_dataframe["data3"].groupby([another_dataframe["key2"], another_dataframe["key3"]])
gr24.mean()

key2  key3
1     i       0.603468
2     ii      0.171499
      iii     0.880092
3     i      -1.738664
4     i      -1.334156
5     iii    -0.806795
6     ii      1.591596
Name: data3, dtype: float64

In [48]:
gr25 = another_dataframe["data3"].groupby([another_dataframe["key3"], another_dataframe["key2"]])
gr25.mean()

key3  key2
i     1       0.603468
      3      -1.738664
      4      -1.334156
ii    2       0.171499
      6       1.591596
iii   2       0.880092
      5      -0.806795
Name: data3, dtype: float64

In [49]:
gr26 = another_dataframe["data3"].groupby([another_dataframe["key3"], another_dataframe["key1"]])
gr26.mean()

key3  key1
i     a      -0.365344
      c      -1.738664
ii    b       0.438561
      c       0.748017
iii   b       0.036649
Name: data3, dtype: float64

In [50]:
gr27 = another_dataframe["data3"].groupby([another_dataframe["key1"], another_dataframe["key3"]])
gr27.mean()

key1  key3
a     i      -0.365344
b     ii      0.438561
      iii     0.036649
c     i      -1.738664
      ii      0.748017
Name: data3, dtype: float64

In [51]:
gr28 = another_dataframe.groupby([another_dataframe["key1"], another_dataframe["key3"]])
gr28.mean()

           key2     data1     data2     data3
key1 key3
a    i      2.5 -0.478780 -1.951320 -0.365344
b    ii     2.0  0.084348 -1.472118  0.438561
     iii    3.5 -0.331023  0.376483  0.036649
c    i      3.0 -0.664654 -1.205513 -1.738664
     ii     4.0  0.640432  0.502071  0.748017

In [53]:
gr29 = another_dataframe.groupby([another_dataframe["key1"], another_dataframe["key2"]])
gr29.mean()

TypeError: Could not convert i to numeric

In [54]:
gr30 = another_dataframe.groupby([another_dataframe["key2"], another_dataframe["key1"]])
gr30.mean()

TypeError: Could not convert i to numeric

In [55]:
gr31 = another_dataframe.groupby([another_dataframe["key3"], another_dataframe["key1"]])
gr31.mean()

           key2     data1     data2     data3
key3 key1
i    a      2.5 -0.478780 -1.951320 -0.365344
     c      3.0 -0.664654 -1.205513 -1.738664
ii   b      2.0  0.084348 -1.472118  0.438561
     c      4.0  0.640432  0.502071  0.748017
iii  b      3.5 -0.331023  0.376483  0.036649

In [56]:
gr32 = another_dataframe.groupby([another_dataframe["key3"], another_dataframe["key2"]])
gr32.mean()

TypeError: Could not convert a to numeric

In [57]:
gr33 = another_dataframe.groupby([another_dataframe["key2"], another_dataframe["key3"]])
gr33.mean()

TypeError: Could not convert a to numeric

# Selecting a Column or Subset of Columns

In [58]:
df.groupby(["key1","key2"])[["data2"]].mean()

              data2
key1 key2
a    1     0.863391
     2    -1.052696
b    1    -0.442406
     2    -0.298402

In [59]:
df.groupby(["key1", "key2"])[["data1"]].mean()

              data1
key1 key2
a    1     0.724456
     2     0.502203
b    1     0.068649
     2     0.033522

In [60]:
s_grouped = df.groupby(["key1", "key2"])["data2"]
s_grouped

In [61]:
s_grouped.mean()

key1  key2
a     1       0.863391
      2      -1.052696
b     1      -0.442406
      2      -0.298402
Name: data2, dtype: float64

# Grouping with Dictionaries and Series

Grouping information may exist in a form other than an array. Let's consider another example DataFrame:

In [62]:
people = pd.DataFrame(np.random.standard_normal((5,5)), 
                     columns = ["a", "b", "c", "d", "e"], 
                     index = ["Joe", "Steve", "Wanda", "Jill", "Trey"])

people.iloc[2:3, [1,2]] = np.nan

people

              a         b         c         d         e
Joe    0.371225  0.911705 -1.233096 -0.953756 -0.986380
Steve  0.235980 -0.700099  1.155500 -1.595858  0.509505
Wanda -0.118909       NaN       NaN  1.528629  0.641729
Jill  -1.490705  0.698591 -1.264820  0.907645 -0.980839
Trey  -1.038351  1.052851  1.156265 -1.312579  0.492929

Now, suppose I have a group correspondence for the columns and want to sum the columns by group:

In [63]:
mapping = {"a" : "red", "b" : "red", "c" : "blue", 
          "d" : "blue", "e" : "red", "f": "orange"}

In [64]:
by_column = people.groupby(mapping, axis = "columns")

In [65]:
by_column.sum()

           blue       red
Joe   -2.186851  0.296549
Steve -0.440358  0.045385
Wanda  1.528629  0.522820
Jill  -0.357175 -1.772953
Trey  -0.156314  0.507429

The same functionality holds for Series, which can be viewed as a fixed-size mapping:

In [66]:
map_series = pd.Series(mapping)

In [67]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [68]:
people.groupby(map_series, axis = "columns").count()

       blue  red
Joe       2    3
Steve     2    3
Wanda     1    2
Jill      2    3
Trey      2    3

# Grouping with Functions

In [69]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.371225  0.911705 -1.233096 -0.953756 -0.986380
4 -2.529056  1.751442 -0.108556 -0.404934 -0.487911
5  0.117071 -0.700099  1.155500 -0.067230  1.151233

Mixing funcstion with arrays, dictionaries, or Series is not a problem, as everything gets converted to arrays internally:

In [70]:
key_list = ["one", "one", "one", "two", "two"]

In [71]:
people.groupby([len,key_list]).min()

              a         b         c         d         e
3 one  0.371225  0.911705 -1.233096 -0.953756 -0.986380
4 two -1.490705  0.698591 -1.264820 -1.312579 -0.980839
5 one -0.118909 -0.700099  1.155500 -1.595858  0.509505

# Grouping by Index levels

A final convenience for hierarchically indexed datasets is the the ability to aggregate using one of the levels of an axis index. Let's look at an example:

In [72]:
columns = pd.MultiIndex.from_arrays([["US", "US", "US", "JP", "JP"],
                                    [1,3,5,1,3]], 
                                   names = ["cty", "tenor"])

columns

MultiIndex([('US', 1),
            ('US', 3),
            ('US', 5),
            ('JP', 1),
            ('JP', 3)],
           names=['cty', 'tenor'])

In [74]:
hier_df = pd.DataFrame(np.random.standard_normal((4,5)), columns = columns)

In [75]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.226454  0.173650 -2.086383  0.583728 -1.201798
1      1.502262  0.411562 -0.387321  0.154384  0.258266
2      1.620529  0.044258  0.261416 -1.125091  1.077884
3      0.525832 -0.590783  1.441000 -0.233539  0.924136

# Data Aggregation

Optimized groupby methods

In [78]:
optimized_groupby_methods = pd.DataFrame({
    "Function name ": [
        "any, all", 
        "count", 
        "cumin, cumax", 
        "cumsum", 
        "cumprod", 
        "first, last", 
        "mean", 
        "median", 
        "min, max", 
        "nth", 
        "ohic", 
        "prod", 
        "quantile",
        "rank",
        "size", 
        "sum",
        "std, var"
    ], 
    "Description" : [
        "Return True if any (one or more values) or all non-NA values are 'truthy'", 
        "Number of non-NA values", 
        "Cumulative minimum and maximum of non-NA values", 
        "Cumulative sum of non-Na values", 
        "cumulative product of non-NA values", 
        "First and last non - NA values", 
        "Mean of non-NA values", 
        "Arithmetic median of non-NA values", 
        "Minimum and maximum of non-NA values",
        "Retrieve value that would appear at postion n with the data in sorted order", 
        "Compute four 'open - high-low-close' statistics for time series-like data", 
        "Product of non-NA values", 
        "Compute sample quntile", 
        "Ordinal ranks of non-NA values, like calling Series.rank",
        "Comput group sizes, returning result as a Series",
        "Sum of non-NA values", 
        "Sample standard deviation and variance"
    ]
})

optimized_groupby_methods

   Function name                                         Description
0        any, all  Return True if any (one or more values) or all...
1           count                            Number of non-NA values
2    cumin, cumax    Cumulative minimum and maximum of non-NA values
3          cumsum                    Cumulative sum of non-Na values
4         cumprod                cumulative product of non-NA values
5     first, last                     First and last non - NA values
6            mean                              Mean of non-NA values
7          median                 Arithmetic median of non-NA values
8        min, max               Minimum and maximum of non-NA values
9             nth  Retrieve value that would appear at postion n ...
10           ohic  Compute four 'open - high-low-close' statistic...
11           prod                           Product of non-NA values
12       quantile                             Compute sample quntile
13           rank  Ordinal ranks of non-NA values, like calling S...
14           size   Comput group sizes, returning result as a Series
15            sum                               Sum of non-NA values
16       std, var             Sample standard deviation and variance

You can use aggregations of your own devising and additionally call any method
that is also defined on the object being grouped. For example, the nsmallest
Series method selects the smallest requested number of values from the data.
While nsmallest is not explicitly implemented for GroupBy, we can still use it
with a nonoptimized implementation. Internally, GroupBy slices up the Series, calls piece.nsmallest(n) for each piece, and then assembles those results into the result object:

In [79]:
df

   key1  key2     data1     data2
0     a     1  0.724456  0.863391
1     a     2  0.502203 -1.052696
2  None     1 -0.273370 -1.803473
3     b     2  0.033522 -0.298402
4     b     1  0.068649 -0.442406
5     a  <NA> -0.118894 -0.241088
6  None     1 -0.152748 -1.740744

In [80]:
grouped = df.groupby("key1")

In [81]:
grouped["data1"].nsmallest(2)

key1
a     5   -0.118894
      1    0.502203
b     3    0.033522
      4    0.068649
Name: data1, dtype: float64

To use your own aggregating functions, pass any function that aggregates an array to the aggregate method or its short alias agg:

In [82]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [83]:
grouped.agg(peak_to_peak)

      key2     data1     data2
key1
a        1  0.843350  1.916087
b        1  0.035127  0.144004

You may notice that some methods, like describe, also work, even though they are not aggregations, strictly speaking:

In [84]:
grouped.describe()

      key2                                           data1            ...  \
     count mean       std  min   25%  50%   75%  max count      mean  ...
key1                                                                  ...
a      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   3.0  0.369255  ...
b      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   2.0  0.051085  ...

                         data2                                          \
           75%       max count      mean       std       min       25%
key1
a     0.613330  0.724456   3.0 -0.143464  0.961767 -1.052696 -0.646892
b     0.059867  0.068649   2.0 -0.370404  0.101826 -0.442406 -0.406405


           50%       75%       max
key1
a    -0.241088  0.311152  0.863391
b    -0.370404 -0.334403 -0.298402

[2 rows x 24 columns]

Column-Wise and Multiple Function Application

After loading it with pandas.read_csv, we add a tipping percentage column:

In [85]:
tips = pd.read_csv("C:/Users/ADMIN/Documents/GitHub/python/Pandas_python/Data_Aggregation_and_Group_Operations/Column_Wise_and_Multiple_Function_Application/tips.csv")

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [87]:
tips["tip_pct"] = tips["tip"]/tips["total_bill"]

In [88]:
tips

     total_bill   tip     sex smoker   day    time  size   tip_pct
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [89]:
grouped = tips.groupby(["day", "smoker"])

In [90]:
grouped_pct = grouped["tip_pct"]

In [91]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

If you pass a list of functions or function names instead, you get back a DataFrame with column names taken from the functions:

In [92]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

Here we passed a list of aggregation functions to agg to evaluate independently on the data groups.You dont need to accept the names that GroupBy gives to the columns; notably, lambda functions have the name "<lambda>", which makes them hard to identify (you can see for yourself by looking at a functions __name__ attribute). Thus, if you pass a list of (name, function) tuples, the first element of each tuple will be used as the DataFrame column names (you can think of a list of 2-tuples as an ordered mapping):

In [93]:
grouped_pct.agg([("average", "mean"), ("stdev", "std")])

              average     stdev
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

With a DataFrame you have more options, as you can specify a list of functions
to apply to all of the columns or different functions per column. To start, suppose we wanted to compute the same three statistics for the tip_pct and total_bill columns:

In [94]:
functions = ["count", "mean", "max"]
result = grouped[["tip_pct", "total_bill"]].agg(functions)

result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

As you can see, the resulting DataFrame has hierarchical columns, the same as you would get aggregating each column separately and using concat to glue the results together using the column names as the keys argument:

In [95]:
result["tip_pct"]

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

As before, a list  tuples with custom names can be passed:

In [97]:
ftuples = [("Average", "mean"), ("Variance", "var")] 
grouped[["tip_pct", "total_bill"]].agg(ftuples)

              tip_pct           total_bill
              Average  Variance    Average    Variance
day  smoker
Fri  No      0.151650  0.000791  18.420000   25.596333
     Yes     0.174783  0.002631  16.813333   82.562438
Sat  No      0.158048  0.001581  19.661778   79.908965
     Yes     0.147906  0.003767  21.276667  101.387535
Sun  No      0.160113  0.001793  20.506667   66.099980
     Yes     0.187250  0.023757  24.120000  109.046044
Thur No      0.160298  0.001503  17.113111   59.625081
     Yes     0.163863  0.001551  19.190588   69.808518

Now, suppose you wanted to apply potentially different functions to one or more of the columns. To do this, pass a dictionary to agg that contains a mapping of column names to any of the function specifications listed so far:

In [99]:
grouped.agg({"tip": "max", "size" : "sum"})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [100]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"], 
            "size" : "sum"})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

A DataFrame will have hierarchical columns only if multiple functions are applied to at least one column.

# Returning Aggregated Data Without Row Indexes

In all of the examples up until now, the aggregated data comes back with an index, potentially hierarchical, composed from the unique group key combinations. Since this isnt always desirable, you can disable this behavior in most cases by passing as_index=False to groupby:

In [104]:
del tips["sex"]

In [105]:
gr = tips.groupby(["day", "smoker"], as_index = False)

In [106]:
gr.mean()

TypeError: Could not convert DinnerDinnerDinnerLunch to numeric

Of course, its always possible to obtain the result in this format by calling
reset_index on the result. Using the as_index=False argument avoids some unnec
essary computations.

# Apply: General split-apply-combine

The most general-purpose GroupBy method is apply, which is the subject of this
section. apply splits the object being manipulated into pieces, invokes the passed function on each piece, and then attempts to concatenate the pieces.
Returning to the tipping dataset from before, suppose you wanted to select the top five tip_pct values by group. First, write a function that selects the rows with the largest values in a particular column:

In [107]:
def top(df, n = 5, column = "tip_pct"): 
    return df.sort_values(column, ascending = False)[:n]

In [108]:
top(tips, n = 6)

     total_bill   tip smoker  day    time  size   tip_pct
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525

Now, if we group by smoker, say, and call apply with this function, we get the
following:

In [109]:
tips.groupby("smoker").apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     232       11.61  3.39     No   Sat  Dinner     2  0.291990
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       88        24.71  5.85     No  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       109       14.31  4.00    Yes   Sat  Dinner     2  0.279525

What has happened here? First, the tips DataFrame is split into groups based on the value of smoker. Then the top function is called on each group, and the results of each function call are glued together using pandas.concat, labeling the pieces with the group names. The result therefore has a hierarchical index with an inner level that contains index values from the original DataFrame.
If you pass a function to apply that takes other arguments or keywords, you can pass these after the function:

In [110]:
tips.groupby(["smoker", "day"]).apply(top, n=1, column = "total_bill")

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

Beyond these basic usage mechanics, getting the most out of apply may require some
creativity. What occurs inside the function passed is up to you; it must either return
a pandas object or a scalar value. The rest of this chapter will consist mainly of
examples showing you how to solve various problems using groupby.
For example, you may recall that I earlier called describe on a GroupBy object:

In [112]:
result = tips.groupby("smoker")["tip_pct"].describe()

In [113]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [114]:
result.unstack("smoker")

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

Inside GroupBy, when you invoke a method like describe, it is actually just a
shortcut for:

In [115]:
def f(group):
    return group.describe() 

grouped.apply(f)

                   total_bill       tip  size   tip_pct
day  smoker
Fri  No     count    4.000000  4.000000  4.00  4.000000
            mean    18.420000  2.812500  2.25  0.151650
            std      5.059282  0.898494  0.50  0.028123
            min     12.460000  1.500000  2.00  0.120385
            25%     15.100000  2.625000  2.00  0.137239
...                       ...       ...   ...       ...
Thur Yes    min     10.340000  2.000000  2.00  0.090014
            25%     13.510000  2.000000  2.00  0.148038
            50%     16.470000  2.560000  2.00  0.153846
            75%     19.810000  4.000000  2.00  0.194837
            max     43.110000  5.000000  4.00  0.241255

[64 rows x 4 columns]

# Suppressing the Group Keys

In the preceding examples, you see that the resulting object has a hierarchical index
formed from the group keys, along with the indexes of each piece of the original
object. You can disable this by passing group_keys=False to groupby:

In [116]:
tips.groupby("smoker", group_keys = False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
232       11.61  3.39     No   Sat  Dinner     2  0.291990
149        7.51  2.00     No  Thur   Lunch     2  0.266312
51        10.29  2.60     No   Sun  Dinner     2  0.252672
185       20.69  5.00     No   Sun  Dinner     5  0.241663
88        24.71  5.85     No  Thur   Lunch     2  0.236746
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525

# Quantile and Bucket Analysis

In [117]:
frame = pd.DataFrame({"data1": np.random.standard_normal(1000), 
                    "data2": np.random.standard_normal(1000)})

frame

        data1     data2
0   -0.400779  1.107494
1   -0.954060  0.790505
2   -1.757106  1.444879
3   -0.257238 -0.719634
4    1.005517  1.857762
..        ...       ...
995  1.853382 -0.939187
996  0.954219  0.243161
997  0.705889 -0.419632
998 -0.629990 -0.698771
999 -0.148072 -0.374494

[1000 rows x 2 columns]

In [118]:
frame.head()

      data1     data2
0 -0.400779  1.107494
1 -0.954060  0.790505
2 -1.757106  1.444879
3 -0.257238 -0.719634
4  1.005517  1.857762

In [119]:
quartiles = pd.cut(frame["data1"],4)

In [120]:
quartiles

0        (-1.244, 0.28]
1        (-1.244, 0.28]
2      (-2.773, -1.244]
3        (-1.244, 0.28]
4         (0.28, 1.803]
             ...
995      (1.803, 3.327]
996       (0.28, 1.803]
997       (0.28, 1.803]
998      (-1.244, 0.28]
999      (-1.244, 0.28]
Name: data1, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-2.773, -1.244] < (-1.244, 0.28] < (0.28, 1.803] < (1.803, 3.327]]

In [122]:
def get_stats(group):
    return pd.DataFrame(
        {"min" : group.min(), "max": group.max(), 
        "count": group.count(), "mean": group.mean()}
    )

grouped = frame.groupby(quartiles)

grouped.apply(get_stats)

                             min       max  count      mean
data1
(-2.773, -1.244] data1 -2.767074 -1.267649    103 -1.704903
                 data2 -2.418644  2.185440    103 -0.090358
(-1.244, 0.28]   data1 -1.243471  0.278947    500 -0.398575
                 data2 -3.390603  2.899111    500  0.009395
(0.28, 1.803]    data1  0.279912  1.790401    350  0.890507
                 data2 -3.501823  3.163847    350 -0.040561
(1.803, 3.327]   data1  1.806506  3.326785     47  2.158697
                 data2 -1.959435  2.602717     47 -0.060774

Keep in mind the same result could have been computed more simply with:

In [123]:
grouped.agg(["min", "max", "count", "mean"])

                     data1                               data2            \
                       min       max count      mean       min       max
data1
(-2.773, -1.244] -2.767074 -1.267649   103 -1.704903 -2.418644  2.185440
(-1.244, 0.28]   -1.243471  0.278947   500 -0.398575 -3.390603  2.899111
(0.28, 1.803]     0.279912  1.790401   350  0.890507 -3.501823  3.163847
(1.803, 3.327]    1.806506  3.326785    47  2.158697 -1.959435  2.602717


                 count      mean
data1
(-2.773, -1.244]   103 -0.090358
(-1.244, 0.28]     500  0.009395
(0.28, 1.803]      350 -0.040561
(1.803, 3.327]      47 -0.060774

In [125]:
quartiles_samp = pd.qcut(frame["data1"], 4, labels = False)
quartiles_samp.head()

0    1
1    0
2    0
3    1
4    3
Name: data1, dtype: int64

In [126]:
grouped = frame.groupby(quartiles_samp)
grouped.apply(get_stats)

                  min       max  count      mean
data1
0     data1 -2.767074 -0.670473    250 -1.249839
      data2 -2.418644  2.754363    250  0.001509
1     data1 -0.665772  0.025528    250 -0.311130
      data2 -3.390603  2.845728    250  0.042063
2     data1  0.026894  0.708821    250  0.355149
      data2 -2.609895  2.899111    250 -0.149384
3     data1  0.710290  3.326785    250  1.358794
      data2 -3.501823  3.163847    250  0.019163

# Example: Filling Missing Values with Group-Specific Values

When cleaning up missing data, in some cases you will remove data observations
using dropna, but in others you may want to fill in the null (NA) values using a
fixed value or some value derived from the data. fillna is the right tool to use; for
example, here I fill in the null values with the mean:

In [127]:
s = pd.Series(np.random.standard_normal(6))

In [128]:
s[::2] = np.nan

In [129]:
s

0         NaN
1    0.624438
2         NaN
3    0.765787
4         NaN
5   -0.982192
dtype: float64

In [130]:
s.fillna(s.mean())

0    0.136011
1    0.624438
2    0.136011
3    0.765787
4    0.136011
5   -0.982192
dtype: float64

Suppose you need the fill value to vary by group. One way to do this is to group the
data and use apply with a function that calls fillna on each data chunk. Here is
some sample data on US states divided into eastern and western regions:

In [132]:
states = ["Ohio", "new York", "Vermont", "Florida", 
         "Oregon", "Nevada", "California", "Idaho"]

group_key = ["East", "East", "East", "East", 
            "West", "West", "West", "West"]

data = pd.Series(np.random.standard_normal(8), index = states)
data

Ohio          0.866603
new York     -0.369794
Vermont       0.180516
Florida       0.175853
Oregon       -0.853244
Nevada        0.624505
California   -0.454713
Idaho        -1.534631
dtype: float64

Lets set some values in the data to be missing

In [133]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan 
data

Ohio          0.866603
new York     -0.369794
Vermont            NaN
Florida       0.175853
Oregon       -0.853244
Nevada             NaN
California   -0.454713
Idaho              NaN
dtype: float64

In [134]:
data.groupby(group_key).size()

East    4
West    4
dtype: int64

In [135]:
data.groupby(group_key).count()

East    3
West    2
dtype: int64

In [136]:
data.groupby(group_key).mean()

East    0.224221
West   -0.653979
dtype: float64

We can fill the NA values using the group means, like so:

In [138]:
def fill_mean(group):
    return group.fillna(group.mean())

data.groupby(group_key).apply(fill_mean)

East  Ohio          0.866603
      new York     -0.369794
      Vermont       0.224221
      Florida       0.175853
West  Oregon       -0.853244
      Nevada       -0.653979
      California   -0.454713
      Idaho        -0.653979
dtype: float64

In another case, you might have predefined fill values in your code that vary by

In [139]:
fill_values = {"East": 0.5, "West":-1}

In [140]:
def fill_func(group):
    return group.fillna(fill_values[group.name])

data.groupby(group_key).apply(fill_func)

East  Ohio          0.866603
      new York     -0.369794
      Vermont       0.500000
      Florida       0.175853
West  Oregon       -0.853244
      Nevada       -1.000000
      California   -0.454713
      Idaho        -1.000000
dtype: float64

# Example: Random Sampling and Permutation

Suppose you wanted to draw a random sample (with or without replacement) from a
large dataset for Monte Carlo simulation purposes or some other application. There are a number of ways to perform the draws; here we use the sample method for Series.

To demonstrate, heres a way to construct a deck of English-style playing cards:

In [141]:
suits = ["H", "S", "C", "D"] # Hearts, Spades, Clubs, Diamonds
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]
cards = []
for suit in suits:
 cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val, index=cards)

Now we have a Series of length 52 whose index contains card names, and values are
the ones used in blackjack and other games (to keep things simple, I let the ace "A"
be 1):

In [142]:
deck.head(13)

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

Now, based on what I said before, drawing a hand of five cards from the deck could
be written as:

In [143]:
def draw(deck, n=5):
    return deck.sample(n)

draw(deck)

10C    10
2D      2
AC      1
5S      5
8S      8
dtype: int64

Suppose you wanted two random cards from each suit. Because the suit is the last
character of each card name, we can group based on this and use apply:

In [144]:
def get_suit(card):
    return card[-1]

deck.groupby(get_suit).apply(draw, n=2)

C  2C      2
   QC     10
D  8D      8
   4D      4
H  QH     10
   10H    10
S  5S      5
   6S      6
dtype: int64

Alternatively, we could pass group_keys=False to drop the outer suit index, leaving
in just the selected cards:

In [145]:
deck.groupby(get_suit, group_keys = False).apply(draw, n = 2)

3C      3
5C      5
3D      3
8D      8
10H    10
3H      3
7S      7
JS     10
dtype: int64

# Example : Group Weighted Average and Correlation

Under the split-apply-combine paradigm of groupby, operations between columns in
a DataFrame or two Series, such as a group weighted average, are possible. As an
example, take this dataset containing group keys, values, and some weights:

In [147]:
df = pd.DataFrame({"category" : ["a", "a", "a", "a",
                                "b","b","b","b"],
                  "data": np.random.standard_normal(8),
                  "weights": np.random.uniform(size = 8)})

df

  category      data   weights
0        a  0.882363  0.209599
1        a  0.537511  0.124930
2        a  0.692051  0.345054
3        a -0.111855  0.151087
4        b  0.891925  0.457931
5        b -0.981208  0.446952
6        b  0.202375  0.659705
7        b  1.041188  0.115966

The weighted average by category would then be:

In [148]:
grouped = df.groupby("category")

def get_wavg(group):
    return np.average(group["data"], weights = group["weights"])

grouped.apply(get_wavg)

category
a    0.570611
b    0.133371
dtype: float64

As another example, consider a financial dataset originally obtained from Yahoo!
Finance containing end-of-day prices for a few stocks and the S&P 500 index (the SPX
symbol):

In [154]:
close_px = pd.read_csv("C:/Users/ADMIN/Documents/GitHub/python/Pandas_python/Data_Aggregation_and_Group_Operations/Column_Wise_and_Multiple_Function_Application/stocks.csv",parse_dates = True, index_col = 0)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6672\4012547203.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  close_px = pd.read_csv("C:/Users/ADMIN/Documents/GitHub/python/Pandas_python/Data_Aggregation_and_Group_Operations/Column_Wise_and_Multiple_Function_Application/stocks.csv",parse_dates = True, index_col = 0)

In [155]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, AAL to NTES
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    8 non-null      float64
 1   high    8 non-null      float64
 2   low     8 non-null      float64
 3   close   8 non-null      float64
 4   volume  8 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 384.0+ bytes

In [156]:
close_px.tail(4)

          open    high     low   close    volume
symbol
GOOGL   975.50  986.62  974.46  986.09   1524905
MAT      20.22   20.75   20.11   20.68  10603967
MSFT     70.09   71.25   69.92   71.21  26803888
NTES    320.00  333.78  319.00  333.56   1356386